body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1em;
}

.container {
  padding: 2rem 2rem;
}
.hero {
  color: white;
  background-image: url("assets/masthead.jpg");
  height: 100vh;
  width: 100vw;
  background-position: 50% 50%;
  background-size: cover;
}
.appbar {
  display: flex;
  flex-direction: row;
}
.appbar-logo {
  width: 1.5rem;
  height: 1.5rem;
}
.appbar-title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-weight: 100;
  font-size: 1.5rem;
  margin: 0;
  padding-left: 0.5rem;
}

h1 {
  position: relative;
  top: 10em;
  left: 0.5em;
  font-weight: 500;
  font-size: 2.5em;
}

.herotxt {
  position: relative;
  top: 42em;
  left: 2em;
  font-size: xx-small;
}

p {
  font-family: Arial;
}

.details {
  padding: 2em 2em;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
}

.details h2:first-child {
  grid-column: span 12;
}
.details div {
  grid-column: span 12;
}

@media screen and (min-width: 768px) {
  .details {
    gap: 3rem;
  }
  .details div {
    grid-column: span 6;
  }
}
@media screen and (min-width: 1200px) {
  .details div {
    grid-column: span 3;
  }
}

h2 {
  font-family: Arial;
  font-weight: 500;
}
.introtxt {
  font-size: xx-small;
  color: rgb(172, 169, 169);
  font-weight: bolder;
}

.cards {
  padding: 0 2rem;
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column;
}

.card1 {
  background-color: lightcoral;
  height: 9em;
}

.c1_txt_a {
  position: relative;
  top: 0.5em;
  left: 2em;
}

.c1_txt_b {
  position: relative;
  top: 0em;
  left: 3.5em;
  font-size: xx-small;
}

.card2 {
  background-color: #645e8d;
  height: 9em;
}

.c2_txt_a {
  position: relative;
  top: 0.5em;
  left: 2em;
}

.c2_txt_b {
  position: relative;
  top: 0em;
  left: 3.5em;
  font-size: xx-small;
}

.card3 {
  background-image: url("assets/box-bg.jpg");
  height: 9em;
}

.c3_txt_a {
  position: relative;
  top: 0.5em;
  left: 2em;
}

.c3_txt_b {
  position: relative;
  top: 0em;
  left: 3.5em;
  font-size: xx-small;
}

.card4 {
  background-image: url("assets/box-bg-lg.jpg");
  height: 9em;
}

.c4_txt_a {
  position: relative;
  top: 0.5em;
  left: 2em;
}

.c4_txt_b {
  position: relative;
  top: 0em;
  left: 3.5em;
  font-size: xx-small;
}

.card5 {
  background-color: rgb(110, 199, 144);
  height: 9em;
}

.c5_txt_a {
  position: relative;
  top: 0.5em;
  left: 2em;
}

.c5_txt_b {
  position: relative;
  top: 0em;
  left: 3.5em;
  font-size: xx-small;
}

.c_link {
  color: white;
  font-size: 10px;
  position: relative;
  top: 0.5em;
  left: 3.1em;
  font-weight: bolder;
  text-decoration: none;
}

h6 {
  color: grey;
}

.parag_details {
  font-size: 10px;
  color: rgb(172, 169, 169);
  font-weight: bolder;
}

.parag_img {
  position: relative;
  top: 10em;
  left: 4em;
  font-size: 10px;
  color: white;
  font-weight: bolder;
}

.down {
  position: relative;
  top: 3em;
  left: 1em;
  color: white;
}

.img_link {
  color: white;
  font-size: 10px;
  font-weight: bolder;
  position: relative;
  top: 11em;
  left: 4em;
  text-decoration: none;
}

.image {
  background-image: url("assets/full-image.jpg");
  height: 65vh;
  width: 100vw;
  background-position: 5% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.onboard {
  background-color: rgb(110, 199, 144);
  display: grid;
  height: 30em;
  grid-template-columns: repeat(12, 1fr);
  padding: 4em 2em;
}

.details h2:first-child {
  grid-column: span 12;
}
.onboard div {
  grid-column: span 12;
}

@media screen and (min-width: 768px) {
  .onboard {
    gap: 3rem;
  }
  .onboard div {
    grid-column: span 6;
  }
}
@media screen and (min-width: 1200px) {
  .onboard div {
    grid-column: span 3;
  }
}

.green {
  font-family: Arial;
  font-weight: 500;
  color: white;
}
.parag_onboard {
  font-size: 10px;
  color: white;
  font-weight: bolder;
}

.on6 {
  color: white;
}

.actions {
  background-color: rgb(245, 252, 232);
  height: 45em;
  padding: 4em 2em;
}

.t1 {
  color: rgb(37, 36, 36);
  position: relative;
  top: 3em;
}
.t2 {
  color: rgb(37, 36, 36);
  position: relative;
  top: 11em;
}

.parag_act {
  font-size: 10px;
  color: rgb(145, 140, 140);
  font-weight: bolder;
  position: relative;
  top: 6em;
  line-height: 2em;
}

.parag_act2 {
  font-size: 10px;
  color: rgb(145, 140, 140);
  font-weight: bolder;
  position: relative;
  top: 26em;
  line-height: 2em;
}

.logo1 {
  width: 6em;
  height: 3em;
  position: absolute;
  top: 263em;
  left: 2em;
}

.logo2 {
  width: 6em;
  height: 3em;
  position: absolute;
  top: 285em;
  left: 2em;
}

.b_lega {
  background-color: rgb(212, 212, 219);
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  top: 3em;
}

.b_buy9 {
  background-color: rgb(110, 199, 144);
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  top: 5em;
}

.b_popular {
  background-color: rgb(150, 112, 150);
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 270em;
  left: 2em;
}

.b_buy18 {
  background-color: rgb(110, 199, 144);
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  top: 17.5em;
}

.footer {
  background-color: rgb(4, 21, 39);
  height: 30em;
  padding: 4em 2em;
}

.txt_footer {
  font-size: 10px;
  color: white;
  font-weight: bolder;
}

form {
  width: 280px;
}

.downtxt {
  font-size: 8px;
  color: rgb(92, 89, 89);
  position: absolute;
  top: 618em;
}

.list {
  font-size: 10px;
  color: white;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
}

.contain_list {
  display: flex;
  justify-content: row;
  justify-content: space-between;
}
