.hero {
    color:white;
    background-color:hsl(212, 99%, 73%);
    background-image:url("assets/masthead.jpg");
    background-repeat:no-repeat;
    height:100vh;
    width:100vw;
    background-position: 50% 50%;
    background-size: cover;
    
    }

.brand-logo { size : 5 px;}

h1
{position: absolute; top: 350px; left: 25px}

.herotxt
{position: absolute; top: 480px; left: 25px}
