body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Ajout d'une classe générique container. 
Tu peux l'ajouter aux classes html que tu veux 
pour aérer le contenu que chaque section  */
.container {
  padding: 1rem 2rem;
}
.hero {
  color: white;
  background-image: url('assets/masthead.jpg');
  height: 100vh;
  width: 100vw;
  background-position: 50% 50%;
  background-size: cover;
}
.appbar {
  display: flex;
  flex-direction: row;
}
.appbar-logo {
  width: 2rem;
  height: 2rem;
}
.appbar-title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  font-weight: 100;
  font-size: 2rem;
  margin: 0;
  padding-left: 1rem;
}
/* fin de mes modifs */

h1 {
  position: absolute;
  top: 350px;
  left: 25px;
  font-weight: 500;
}

.herotxt {
  position: absolute;
  top: 480px;
  left: 25px;
  font-size: xx-small;
}

p {
  font-family: Arial;
}

h3 {
  font-family: Arial;
  font-weight: 500;
}
.introtxt {
  font-size: xx-small;
  color: grey;
  font-weight: bolder;
}

.cards {
}

.card1 {
  background-color: lightcoral;
}

.card2 {
  background-color: blueviolet;
}

.card3 {
  background-image: url('assets/box-bg.jpg');
}

.card4 {
  background-image: url('assets/box-bg-lg.jpg');
}

.card5 {
  background-color: cyan;
}

.parag_details {
  font-size: xx-small;
}

.down {
  position: absolute;
  top: 100em;
}

.image {
  height: 10em;
  width: 50em;
  background-position: 50% 50%;
  background-size: cover;
}
